
.contrators-container {
    border: 1px solid #ccc;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
  }

  .contractors-table {
    border-collapse: collapse;
    width: 90%;
  }
  
  .add-contractor {
    text-align: center;
    padding: 5px;
  }
  .button-contractor {
    display: grid;
    place-items: center;
    padding: 5px;
    /* height: 50px; */
  }
  .contractors-table th,
  .contractors-table td {
    border: 1px solid #a50d0d;
    padding: 8px;
    text-align: left;
  }
  
  .separator-horizontal {
    border-bottom: 1px solid #6d0808;
  }
  
  .separator-vertical {
    border-right: 1px solid #8a1919;
  }
  