
.table-container {
    border: 1px solid #ccc;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
  }
  
  .delegations-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .delegations-table th,
  .delegations-table td {
    border: 1px solid #a50d0d;
    padding: 8px;
    text-align: left;
  }
  
  .separator-horizontal {
    border-bottom: 1px solid #6d0808;
  }
  
  .separator-vertical {
    border-right: 1px solid #8a1919;
  }
  